  html, body {
    height: 100%;
    width: 100%;

    background: #181926;
    color: #bec6d7;

    overflow: hidden;
  }

  input[type="text"],
  select.form-control {
    height: 30px;
    margin:auto;
    margin-left: 200px;
    float: left;
    width: calc(100% - 360px);

    color: #86899e;
    border: none;
    background: #32354d;
  }

  .header {
    height: 50px;
    width: 100%;
    padding: 8px;
    border-bottom: 4px solid #428bca;

    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-image: linear-gradient(to right, #e600ff, #00c8ff) 1 stretch;

  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    margin-bottom: 0px;
  }

  h1 {
    font-weight: 200;
  }

  hr {
    margin:0;
    background: none !important;
    border-top: 1px solid #d9d5d5;
  }

  .label-white {
    color: #2c3344;
    background: #bec6d7;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .stream_label {
    position: relative;
    height: 40px;
    max-width: 130px;
    padding: 3px;
    margin-bottom: 7px;
    text-align: center;
    border-radius: 5px;
    color: #d9d4d4;
    background: #35374f;

    box-shadow: 0px 0px 10px #a2a2a2;
  }

  .stream_label:hover {
    color: #fff;
    background: #2e3041;
  }

  .stream_label.active {
    color: #fff;
    background: #428bca;
  }

  .highlight {
    background: #00c8ff;
  }
